root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_style = tab
indent_size = tab

[*.{json,xml,xaml,yaml,yml}]
indent_style = space
indent_size = 2

[*.{ps1,psm1,psd1,sh}]
indent_style = tab
indent_size = tab

[*.py]
indent_style = space
indent_size = 2
