<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ADAC-Feed-Private-ADAC-Dev" value="https://pkgs.dev.azure.com/ADAC-Dev/_packaging/ADAC-Feed-Private-ADAC-Dev/nuget/v3/index.json" />
    <add key="ADAC-Feed-Public-ADAC-Dev" value="https://pkgs.dev.azure.com/ADAC-Dev/_packaging/ADAC-Feed-Public-ADAC-Dev/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="ADAC-Feed-Private-ADAC-Dev">
      <package pattern="*" />
    </packageSource>
    <packageSource key="ADAC-Feed-Public-ADAC-Dev">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
